@{
    ViewBag.Title = "Brak dostępu";
}

<div class="alert alert-danger mt-4">
    <h3>Nie masz uprawnień do edycji tego warsztatu.</h3>
    <a asp-controller="CarWorkshop" asp-action="Index" class="btn btn-primary mt-3">Powrót do listy</a>
</div>


